<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a6e1f4">  <td>18/01/19 11:45:15</td>   <td>0</td> <td title="&gt;&gt;Base.beforeSuite()[pri:0, instance:TestNG.LoginTest@c285f4]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@4367121</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>18/01/19 11:45:15</td>   <td>469</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.beforeClass()[pri:0, instance:TestNG.LoginTest@c285f4]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@4367121</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>18/01/19 11:45:15</td>   <td>486</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.beforeTest()[pri:0, instance:TestNG.LoginTest@c285f4]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@4367121</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>18/01/19 11:45:30</td>   <td>14949</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.beforeMethod(java.lang.reflect.Method)[pri:0, instance:TestNG.LoginTest@c285f4]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@4367121</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>18/01/19 11:45:30</td>   <td>14983</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.Test00()[pri:0, instance:TestNG.LoginTest@c285f4]">Test00</td> 
  <td>main@4367121</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>18/01/19 11:45:39</td>   <td>24565</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.afterMethod(org.testng.ITestResult)[pri:0, instance:TestNG.LoginTest@c285f4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@4367121</td>   <td></td> </tr>
<tr bgcolor="9f9fb0">  <td>18/01/19 11:45:39</td>   <td>24587</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.afterClass()[pri:0, instance:TestNG.LoginTest@c285f4]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@4367121</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>18/01/19 11:45:40</td>   <td>25391</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.beforeClass()[pri:0, instance:TestNG.ViewProfileTest@1f3ddb1]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@4367121</td>   <td></td> </tr>
<tr bgcolor="96a48d">  <td>18/01/19 11:45:40</td>   <td>25420</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ViewProfileTest.Test01()[pri:0, instance:TestNG.ViewProfileTest@1f3ddb1]">Test01</td> 
  <td>main@4367121</td>   <td></td> </tr>
<tr bgcolor="96a48d">  <td>18/01/19 11:45:40</td>   <td>25427</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ViewProfileTest.Test02()[pri:0, instance:TestNG.ViewProfileTest@1f3ddb1]">Test02</td> 
  <td>main@4367121</td>   <td></td> </tr>
</table>
