<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69717b">  <td>18/01/19 16:18:27</td>   <td>0</td> <td title="&gt;&gt;Base.beforeSuite()[pri:0, instance:TestNG.LoginTest@1f3ddb1]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@4367121</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>18/01/19 16:18:27</td>   <td>285</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.beforeClass()[pri:0, instance:TestNG.LoginTest@1f3ddb1]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@4367121</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>18/01/19 16:18:27</td>   <td>290</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.beforeTest()[pri:0, instance:TestNG.LoginTest@1f3ddb1]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@4367121</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>18/01/19 16:18:39</td>   <td>12302</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.beforeMethod(java.lang.reflect.Method)[pri:0, instance:TestNG.LoginTest@1f3ddb1]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@4367121</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>18/01/19 16:18:39</td>   <td>12304</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.Test00()[pri:0, instance:TestNG.LoginTest@1f3ddb1]">Test00</td> 
  <td>main@4367121</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>18/01/19 16:19:20</td>   <td>52733</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.afterMethod(org.testng.ITestResult)[pri:0, instance:TestNG.LoginTest@1f3ddb1]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@4367121</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>18/01/19 16:19:20</td>   <td>52753</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.afterClass()[pri:0, instance:TestNG.LoginTest@1f3ddb1]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@4367121</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>18/01/19 16:19:21</td>   <td>53740</td> <td title="&lt;&lt;Base.afterSutie()[pri:0, instance:TestNG.LoginTest@1f3ddb1]">&lt;&lt;afterSutie</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@4367121</td>   <td></td> </tr>
</table>
